@import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css");
@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500");
@keyframes :global(fade-in) {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

* {
  box-sizing: border-box; }

a {
  text-decoration: none;
  color: inherit; }

body {
  font-family: "Roboto", sans-serif;
  background: #FAFBFC; }

input {
  outline: none !important; }

input[type='file'] {
  cursor: pointer; }

.wrapper {
  text-align: left;
  padding-top: 100px;
  padding-bottom: 40px;
  width: 100%; }
