.wrap form {
  width: 500px;
  max-width: 100%;
  display: block;
  margin-bottom: 50px; }

.wrap h2 {
  padding: 0; }

.wrap p {
  margin-bottom: 14px; }

.wrap input[type='file'] {
  margin-bottom: 15px;
  display: block; }

.col {
  width: 50%; }

.flex {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: stretch; }
